[user]
	email = enapupe@gmail.com
	name = Iacami Gevaerd
[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = subl -n -w
[alias]
	co = checkout
	statu = status
	statua = status
  stauts = status
  stuts = status
	stats = status
	psuh = push
	up = "!git remote update -p; git merge --ff-only @{u}"
  dfhd = "diff HEAD --"
  dfs = "diff --staged"
  fds = "diff --staged"
  pushf = push --force-with-lease
  aliases = config --get-regexp alias
  emenda = commit --amend --no-edit
  pushstaging = "!git push --force-with-lease --no-verify origin $(git status | grep 'On branch' | cut -c 11-):staging"
