/*
!*.sublime-*

!.gitignore
!.gitignore_global
!.gitconfig

!.config/
.config/*

!.config/sublime-text-3/
.config/sublime-text-3/*

!.config/sublime-text-3/Packages
.config/sublime-text-3/Packages/*

!.config/sublime-text-3/Packages/User/
.config/sublime-text-3/Packages/User/*/*

